Flask==0.7.2
Jinja2==2.6
Pygments==1.4
SQLAlchemy==0.7.2
Sphinx==1.0.8
WTForms==0.6.3
Werkzeug==0.7.1
argparse==1.2.1
blinker==1.1
bpython==0.10.1
distribute==0.6.19
docutils==0.8.1
httplib2==0.7.1
-e git+https://github.com/simplegeo/python-oauth2.git@1fcc1a6d49a7be2a9394125acf5b1c2227fcde79#egg=oauth2-dev
psycopg2==2.4.2
wsgiref==0.1.2
