{% extends "layout.html" %}}
{% set page = "Kids" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class="page-header">
        <h1>
            Save Allowance
            <small>Money grows on trees</small>
        </h1>
    </div>

    <form method="post" action="{{ context.action }}">
         {{ context.form_allowance.csrf }}
         <fieldset>
             {{ render_field(context.form_allowance.kid_id) }}
             {{ render_field(context.form_allowance.period) }}
             {{ render_field(context.form_allowance.period_day) }}
             {{ render_field(context.form_allowance.amount, class="span2", step="0.01") }}
             <div class="actions">
                 <input type="submit" class="btn primary" value="Save Allowance" />
                 <a href="/kids">
                     <input type="button" class="btn" value="Cancel" />
                 </a>
             </div>
         </fieldset>
    </form>
{% endblock content %}

{% block page_js %}
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $("#period").bind("change", function(){
                $.getJSON($SCRIPT_ROOT + "/kid/allowance/_day_options", {
                    frequency: $(this).val()
                }, function(data) {
                    var options = "";
                    for (var i = 0; i < data.result.length; i++) {
                        options += "<option value='" + data.result[i][0] + "'>" + data.result[i][1] + "</option>";
                    }
                    $("#period_day").html(options);
                });
                return false;
            });
        });
    </script>
{% endblock page_js %}
