{% extends "layout.html" %}
{% set page = "signin" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class="page-header">
        <h1>
            Forgot Password
            <small>You going to remember it this time?</small>
        </h1>
    </div>

    {% if context.form %}
        <form method="post" action="/forgot/password">
            {{ context.form.csrf }}
            <fieldset>
                {{ render_field(context.form.email) }}
                <div class="actions">
                    <input type="submit" class="btn" value="Reset Password" />
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>Woohoo, can't wait till you get back.</p>
        <p>Follow the instructions in the email that has been sent to you.</p>
    {% endif %}
{% endblock %}
