{% extends "layout.html" %}
{% set page = "index" %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Allowances Simplified!</h1>
        <p>Track your children's allowances with ease.</p>
        <p><a href="/about" class="btn primary large">Learn more &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <h2>Simple</h2>
            <p>The application strives to keep things simple and straight forward. You add your kid, you add allowances for them and if there are any other transactions you can enter those. Otherwise that is it. Your kid's balance will automatically be maintained. Now sit back and watch them spend their inheritance virtually.</p>
            <p><a class="btn" href="/signin">View details &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Pretty Graphs</h2>
            <p>Some nice visual graphs to show your children how their balance has changed over time. Graphs are also combined for more than one kid, which shows how each of them are doing compared to each other. Nothing like a little sibling rivalry.</p>
            <p><a class="btn" href="/signin">View details &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Automatic</h2>
            <p>Once you set up your kid's allowance the allowance will automatically be added as transactions on the due dates. You no longer have to worry about the allowance. All you will need to worry about is recording the expenses. Which will probably be endless.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </div>
{% endblock content %}
