{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class="page-header">
        <h1>
            Reset Password
            <small>You going to remember it this time?</small>
        </h1>
    </div>

    {% if context.form %}
        <form method="post" action="/reset/password/{{ context.uid }}">
            {{ context.form.csrf }}
            <fieldset>
                {{ render_field(context.form.password) }}
                {{ render_field(context.form.confirm) }}
                <div class="actions">
                    <input type="submit" class="btn" value="Reset Password" />
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>The unique key is no longer valid..</p>
    {% endif %}
{% endblock %}
